<div> <%= link_to "Add flat", new_flat_path %> </div>

<% @flats.each do |flat| %>
  <div>
    <h2> <%= link_to "#{flat.name.capitalize}", flat_path(flat[:id])%> </h2>
    <h3> <%= flat.address %> </h3>
    <div>
      <h4>
      <%= flat.number_of_guests %>
      </h4>
      <h4>
       <%= flat.price_per_night %>
      </h4>
    </div>
     <div>
  <%= link_to "EDIT", edit_flat_path(flat[:id]) %>
  <%= link_to "DELETE",
            flat_path(flat[:id]),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>
  </div>
<% end %>
