
  <div>
    <h2> <%= @flat.name.capitalize! %> </h2>
    <h3> <%= @flat.address %> </h3>
    <p> <%= @flat.description %> </p>
    <div>
      <h4>
      <%= @flat.number_of_guests %>
      </h4>
      <h4>
       <%= @flat.price_per_night %>
      </h4>
    </div>

  <div>
  <%= link_to "EDIT", edit_flat_path(@flat[:id]) %>
  <%= link_to "DELETE",
            flat_path(@flat[:id]),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </div>

  </div>


<%= link_to "Back to home", flats_path %>
